
body {
    background-color:  #0F0921;
    font-family: 'Pretendard Variable';
}

html, body {
    min-height: 100%
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}


body::-webkit-scrollbar {
    width: 17px;
    background-color:  #0F0921;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;

    border: 4.79px solid #0F0921; /*border로 여백처럼*/
}

body::-webkit-scrollbar-thumb:hover {
	background-color:gainsboro;
}

::-webkit-scrollbar-corner {
	background: transparent;
}


h1 {
    color: white;
    position: center;
    font-size: 120%;
    left: 200px;
    top: 130px;

    display: inline;
}

h1 a {
    color: white;
    text-decoration-line: none;
    position: absolute;
    display: block;
    
    font-size: 150%;
    height: 40px; 
    width: 250px;
    left: 200px;
    top: 20px;
}

ul a {
    color: white;
    text-decoration-line: none;
}

span {
    color: white;
}

a {
    color: white;
    text-decoration-line: none;
}

li {
    display: inline;
}

#wrap {
    font-family: 'Pretendard Variable';
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}


footer {
    position: absolute;
    top: 330%;

    /* 하단고정 어케하노 */

    right: 0%;

    padding-left: 650px; /*여백의미*/
    padding-bottom: 120px;
    padding-top: 50px;
    padding-right: 150px;
    background-color: #0F1B2E;
}

.footer.li{
    line-height: 300%;
}

.lnb {
    color: white;
    position: absolute; 
    display: inline-block; 
    right: 250px; 

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(7%, 150%);

    
}

.school-name {
    color: white;

    width: 500px;
    height: 100px;

    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-45%, -50%);

    font-size: 160%; 
}

.school-video-first {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-48%, -52%);
}

.school-video-second {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-52%, -52%);
}

.homepage-button {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    color: black;
    border: none;
    padding: 17px 100px;

    font-size: 130%;
    cursor: pointer;

    border-radius: 10px;
}

.MOU-gi-up {
    color: white;

    width: 250px;
    height: 100px;

    position: absolute;
    top: 150%;
    left: 46.5%;
    transform: translate(-7%, -150%);
    font-size: 160%; 

}

.chi-up-leaul {
    color: white;

    width: 250px;
    height: 100px;

    position: absolute;
    top: 227%;
    left: 51%;
    transform: translate(-20%, -100%);
    font-size: 160%; 
}

.dong-gu-ra-mi {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    background-color: yellow;
    
    


    position: absolute;
    top: 70%;
    left: 65%;
    transform: translate(-50%, -50%);
}


.dong-gu-ra-mi-2 {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background-color: skyblue;

    position: absolute;
    top: 125%;
    left: 15%;
    transform: translate(-50%, -50%);
}


.dong-gu-ra-mi-3 {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: skyblue;

    position: absolute;
    top: 130%;
    left: 85%;
    transform: translate(-50%, -50%);
}

.ggom-gua-ggi{
    position: absolute;
    top: 52.2%;
    left: 21.5%;
    transform: translate(-20%, -100%);
    font-size: 220%; 
    line-height: 200%;
    color: white;   

    font-family: 'Pretendard Variable';
    display: inline;
}

.up{
    color: skyblue;

    display: inline;
}

.eap-hack{

    position: absolute;
    top: 420px;
    left: 305px;
    transform: translate(-20%, -100%);

    font-size: 95%;
    color: white;

}

.dong-gu-ra-mi-4 {  
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #fcffad 15%,#dee449 25%, #305f02 90%);


    position: absolute;
    top: 57%;
    left: 68%;
    transform: translate(-50%, -50%);
}

.dong-gu-ra-mi-5 {
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #8DC7F5 5%,#4A6BB2 25%, #1D2947 90%);

    position: absolute;
    top: 500px;
    left: 1000px;


}

.dong-gu-ra-mi-6 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #FAFEB4 10%,#E0E86C 25%, #8CAC49 90%);

    position: absolute;
    top: 1350px;
    left: 93%;
    transform: translate(-50%, -50%);
}

.dong-gu-ra-mi-7 {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #DCC95C 10%,#DDB34E 50%);

    position: absolute;
    top: 290%;
    left: 85%;
    transform: translate(-50%, -50%);  
}

.dong-gu-ra-mi-8 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: skyblue;

    position: absolute;
    top: 300%;  
    left: 8%;
    transform: translate(-50%, -50%);  
}

.dong-gu-ra-mi-9 {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #DCC95C 10%,#DDB34E 50%);

    position: absolute;
    top: 230%;
    left: 35%;
    transform: translate(-50%, -50%);
}


.footer-address {
    color: gray;
    font-size: 85%;
}


.line1 {
    background-color: white;

    width: 100px;
    height: 2px;

    position: absolute;
    top: 600px;
    left: 16.5%;
    transform: translate(-50%, -50%);
}

.jup-su-gi-gan {
    color: white;
    font-size: 120%;

    position: absolute;
    top: 105%;
    left: 24%;
    transform: translate(-50%, -50%);

    display: inline;
    line-height: 200%;
}

.sexy {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 40px;
    font-size: 130%;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    flex : auto;
    margin: 0 0;
    right: 0%;

    transition: opacity 0.3s ease-in-out;
}

.first-button {
    top: 0%;
}

.second-button {
    top: 20%;  
}

.third-button {
    top: 40%;  
}

.fourth-button {
    top: 60%;  
}

.fifth-button {
    top: 80%;  
}


#sexy-buttons {
    width : 500px;
    height : 375px;

    position: absolute;
    top: 100%;
    right: 200px;

    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.ji-gum-background {
    width : 1100px;
    height : 850px;

    left:200px;
    right:200px;
    top: 1100px;
    position: absolute;
    
    border:1px solid white;

    border-radius: 50px;

    backdrop-filter: blur(30px); /* 배경에 블러*/

    margin: 0 auto;

}


#ji-gum-buttons {
    border: 2px dotted red;
    z-index: -1;
    position: absolute;
    width : 1100px;
    height : 70px;

    top: 40px;

    display: flex;
    justify-content: space-around;

}

#won-seo-jak-seong,
#eap-hack-won-seo-jae-chul,
#first-seo-ryu-jeon-hyung,
#second-pyung-ga,
#gyoul-gwa-bal-pyo {
    cursor: pointer;
    user-select: none;
    z-index: 3;
}

.ji-gum-isnt-ji-won-gi-gan {
    top: 1450px;
    right: 200px;
    position: absolute;
    z-index: 1;
    text-align: center;
    font-size: 140%;
}

.dong-gu-ra-mi-10{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #8DC7F5 5%,#4A6BB2 25%, #1D2947 90%);

    position: absolute;
    top: 275%;
    left: 60%;
    transform: translate(-50%, -50%);

}


.dong-gu-ra-mi-11{
    width: 480px;
    height: 480px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #8DC7F5 5%,#4A6BB2 25%, #1D2947 90%);

    position: absolute;
    top: 310%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.dong-gu-ra-mi-12{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: linear-gradient(200deg, #85C7FF 5%,#83C4FF 25%, #1F2E48 90%);

    position: absolute;
    top: 310%;
    left: 25%;
    transform: translate(-50%, -50%);
}


.jup-su-button {
    width : 300px;
    height : 30px;

    position: absolute;
    top: 460px;
    left: 200px;
    text-align: center;
    border:1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-content: stretch;

    font-size: 100%;

    cursor: pointer;
    border-radius: 20px;
    position: absolute;

    color: lightgray;
    padding: 15px 40px;

    user-select: none;
}
