body{
    background-color: #1F1E2A;
    color: white;
    font-family:'SUIT';;
}

p {
    color: white;
    font-family:'SUIT-Regular';
}
header{
    width: 92vw;
    left: 80px;
    top: 20px;
    padding-left: 30px;
    
    position: relative;
}

.hu-ri-mung-tung-color {
    color:rgb(205, 205, 213);
}

nav {
    left:0;
    top: 0;
    background-color: #17161E;
    width: 70px;
    height: 100vh;
    position: absolute;
}

#wrapper {
    display: flex;
    position: absolute;
    left: 95px;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 69vw;
}

#wrapper2 {
    display: flex;
    position: absolute;
    left: 1156px;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 23vw;
}

#clock-container {
    top: 20px;
    left: 20px;
    position: absolute;
    border-radius: 15px;
    height: 155px;
    width: 950px;
    padding-left: 80px;
    padding-top: 15px;
    display: flex;
    background-image: radial-gradient(198% 2092% at 17% 10%, rgb(89, 102, 233) 0%, rgb(159, 91, 247) 42%, rgb(201, 85, 255) 94%, rgb(242, 181, 181) 100%);;
}

#clock-container h1 {
    font-size: 22px;
    font-weight: 600;
}

#gong-ji-sa-hang{
    top: 210px;
    left: 20px;
    position: absolute;
    border-radius: 15px;
    height: 360px;
    width: 30vw;
    background-color: #17161E;
}

#gong-ji-sa-hang h2, #ja-sup-sin-chung h2, #an-ma-eui-ja h2{
    left: 25px;
    top: 5px;
    position: absolute;
    font-size: 17px;
    font-weight: 700;
    color:rgb(205, 205, 213);
}

#ja-sup-sin-chung{
    top: 210px;
    right: 10px;
    position: absolute;
    height: 170px;
    width: 550px;
    border-radius: 15px;
    background-color: #17161E;
}

#an-ma-eui-ja{
    top: 400px;
    right: 10px;
    position: absolute;
    height: 170px;
    width: 550px;
    border-radius: 15px;
    background-color: #17161E;
}

#profile-container{
    top: 20px;
    right: 20px;
    position: absolute;
    height: 90px;
    width: 320px;
    border-radius: 15px;
    background-color: #17161E;
}

#bab-container{
    top: 130px;
    right: 20px;
    position: absolute;
    height: 440px;
    width: 320px;
    border-radius: 15px;
    background-color: #17161E;
}

#date-container {
    background-color: #17161E;
    color: white;
    top:10px;
    left: 80px;
    height: 25px;
    width: 140px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#date-text h2{
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: rgb(129, 129, 152);
}

#clock-text h1 {
    position: absolute;
    font-size: 64px;
    font-weight: 800;
    left: 70px;
}

#clock-container img {
    z-index: 2;
    position: absolute;
    right: 10px;
    top: -100px;
    height: 250px;
}