#wrapper {
    display: flex;
    position: absolute;
    left: 95px;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 69vw;
}

#wrapper2 {
    display: flex;
    position: absolute;
    left: 1156px;
    justify-content: space-around;
    align-items: center;
    height: 85vh;
    width: 23vw;
}

#clock-container {
    top: 20px;
    left: 20px;
    position: absolute;
    border-radius: 15px;
    height: 155px;
    width: 950px;
    padding-left: 80px;
    padding-top: 15px;
    display: flex;
    background-image: radial-gradient(198% 2092% at 17% 10%, rgb(89, 102, 233) 0%, rgb(159, 91, 247) 42%, rgb(201, 85, 255) 94%, rgb(242, 181, 181) 100%);;
}

#clock-container h1 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -1px;
}


#gong-ji-sa-hang{
    top: 210px;
    left: 20px;
    position: absolute;
    border-radius: 15px;
    height: 360px;
    width: 30vw;
    background-color: #17161E;
}

#gong-ji-sa-hang h2, #ja-sup-sin-chung h2, #an-ma-eui-ja h2, #bab-container h2{
    left: 25px;
    top: 5px;
    position: absolute;
    font-size: 17px;
    font-weight: 700;
    color:rgb(205, 205, 213);
    letter-spacing: -1px;
}

#ja-sup-sin-chung{
    top: 210px;
    right: 10px;
    position: absolute;
    height: 170px;
    width: 550px;
    border-radius: 15px;
    background-color: #17161E;
}

#an-ma-eui-ja{
    top: 400px;
    right: 10px;
    position: absolute;
    height: 170px;
    width: 550px;
    border-radius: 15px;
    background-color: #17161E;
}

#profile-container{
    top: 20px;
    right: 15px;
    position: absolute;
    height: 90px;
    width: 330px;
    border-radius: 15px;
    background-color: #17161E;
}

#bab-container{
    top: 130px;
    right: 15px;
    position: absolute;
    height: 300px;
    width: 330px;
    border-radius: 15px;
    background-color: #17161E;
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
}


#bab-list-background {
    background-color: #1E1E25;
    width: 290px;
    height: 320px;
    
    border-radius: 10px;
    top: 100px;
    position: absolute;
}

#sik-selector-background{
    background-color: #1E1E25;
    width: 290px;
    height: 30px;
    
    border-radius: 10px;
    top: 55px;
    position: absolute;
}

#date-container {
    background-color: #17161E;
    color: white;
    top:10px;
    left: 80px;
    height: 25px;
    width: 140px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#date-text h2{
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: rgb(129, 129, 152);
}

#clock-text h1 {
    position: absolute;
    font-size: 64px;
    font-weight: 800;
    left: 70px;
    letter-spacing: 3px;
}

#clock-container img {
    z-index: 2;
    position: absolute;
    right: 10px;
    top: -100px;
    height: 250px;
}



.sin-chung-people {
    font-size: 44px;
    font-weight: 700;

    position: absolute;
    color:rgb(205, 205, 213);
}

.sin-chung-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#an-ma-button, #ja-sup-button {
    height: 28px;
    width: 90px;
    border-radius: 7px;

    position: absolute;
    top: 18vh;
    right: 23px;

    font-size: 14px;
    font-weight: 500;
    align-content: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#ja-sup-people-container, #an-ma-people-container {
    display: flex;
    text-align: center;
    width: 550px;
    position: absolute;
    top: 8vh;
    right: 0;
    align-items: center;
    justify-content: center;
}

.sul-myung {
    position: absolute;
    left: 24px;
    bottom: 8px;
    font-size: 11px;
    font-weight: 600;
    color:rgb(129, 129, 152);
    letter-spacing: -1px;
    text-align: left;
}

.sul-myung span {
color: rgb(89, 102, 233)
}

#ja-sup-gauge, #an-ma-gauge{
    background-color: #1E1E25;
    position: absolute;
    top: 5.5vh;

    border-radius: 5px;
    height: 18px;
    width: 500px;
}

.all-see {
    position: absolute;
    font-size: 13px;
    color: rgb(129, 129, 152);
    font-weight: 600;
    letter-spacing: -1.5px;
    right: 22px;
    top:20px;
    cursor: pointer;
    text-decoration-line: none;
}

#home-nav{
    background-color: #1F2134;
}